<div id="heading" class="jumbotron text-center bg-light">
  <h1>{{month + 1 < 10 ? '0' : ''}}{{month + 1}}, {{year}}</h1>
  <div class="container">
  </div>
  <button type="button" class="btn btn-primary btn-sm" (click)="changeMonthNumber(-1)">Prev Month</button>
  <button type="button" class="btn btn-primary btn-sm" (click)="selectCurrentMonth()">Current Month</button>
  <button type="button" class="btn btn-primary btn-sm" (click)="changeMonthNumber(1)">Next Month</button>
</div>

<div class="container">
  <div class="row">
    <div ></div>
    <div class="col-sm-12">
      <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
            <th>Sunday</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let i of days">
            <td *ngFor="let j of i; let b = index" (click)="openPrompt(j.day); ">{{j.day || ""}}<br>
              <em style="color: rgb(221, 255, 158)">{{j.event}}</em>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<router-outlet></router-outlet>